<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="XmppServerHost" value="127.0.0.1"/>
		<add key="XmppServerPort" value="5222"/>
		<add key="AllowAnyone" value="true"/>
		<add key="GameDataPath" value="Resources/GameData_1.15000.124.34300.zip"/>
		<add key="MySqlConnectionString" value="server=127.0.0.1;port=3306;user=root;password=;database=emuwarface"/>
	</appSettings>
</configuration>
