<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="layout" value="${date:format=HH\:mm\:ss} [${level:uppercase=true}] [${logger:shortname=true}] ${message} ${exception:format=tostring}"/>
    <variable name="layoutFile" value="${date:format=HH\:mm\:ss.ffff} ${level:uppercase=true} ${logger:shortname=true} ${message} ${exception:format=tostring}"/>
    <variable name="layoutXmppFile" value="&lt;!--  ${date:format=HH\:mm\:ss.ffff} ${event-properties:ip} ${event-properties:type} --&gt;${newline}${message}"/>

    <targets>
        <target name="colouredConsole"
				xsi:type="ColoredConsole"
				useDefaultRowHighlightingRules="false"
				layout="${layout}">
			<!--highlight-word regex="^\S+" foregroundColor="DarkGray" /-->
			<highlight-word foregroundColor="DarkGray" ignoreCase="false" text="DEBUG" wholeWords="true" />
			<highlight-word foregroundColor="Green" ignoreCase="false" text="INFO" wholeWords="true" />
			<highlight-word foregroundColor="Yellow" ignoreCase="false" text="WARN" wholeWords="true" />
			<highlight-word foregroundColor="Red" ignoreCase="false" text="ERROR" wholeWords="true" />
			<highlight-word foregroundColor="White" backgroundColor="Red" ignoreCase="false" text="FATAL" wholeWords="true" />
            <!--<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />-->
        </target>

        <target name="logFile" xsi:type="File"
            archiveNumbering="Sequence"
            archiveAboveSize="52428800"
            archiveFileName="${date:format=dd}.{#######}.log"
            layout="${layoutFile}"
            fileName="${basedir}/logs/${shortdate}.log"
            keepFileOpen="false" 
            encoding="utf-8" />
        <target name="xmppFile" xsi:type="File"
            layout="${layoutXmppFile}"
            fileName="${basedir}/logs/${shortdate}_xmpp.xml"
            keepFileOpen="false" 
            encoding="utf-8" />
        <target name="errorFile" xsi:type="File"
            layout="${layoutFile}"
            fileName="${basedir}/logs/${shortdate}_errors.log" 
            keepFileOpen="false" 
            encoding="utf-8" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="colouredConsole" />
        <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="logFile" />
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
        <logger name="XMPP" minlevel="Trace" maxlevel="Trace" writeTo="xmppFile" />
    </rules>
</nlog>